.product-article{
    max-width: 800px;
    margin: 20px auto 0;
    padding: 20px 20px;
    border: solid 1px;
    border-color: #da552f;
    border-radius: 5px;
}

.product-article p{
    font-size: 16px;
}

.product-article a {
    height: 42px;
    margin-top: 10px ;
    margin-bottom: 2px;
    border-radius: 5px;
    border:  2px solid #da552f;
    background: none;
    color: #da552f;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.product-article a:hover {
 background-color: #da552f;
 color: #fff;   
}